<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Mengonsumsi API - training</title>

    <style>
        form {
            border: 1px solid #ddd;
            border-radius: 9px;
            width: 225px;
            background: #efefef;
            padding: 6px;
            margin-left: 10px;
            margin-top: 15px;
        }

        table {
            border: 1px solid #000;
            margin-left: 10px;
            margin-top: 15px;
            /* width: 300px; */
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input, textarea, select, option {
            min-width: 220px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent=submitForm()>
            <p v-if="errors.length">
                <b>Please correct the following errors</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name : </label>
            <input type="text" name="name" ref="name" v-model="name" :disabled="buttonStatus == 'upload'">

            <label>Address : </label>
            <textarea type="text" name="address" ref="address" v-model="address" :disabled="buttonStatus == 'upload'"></textarea>

            <label>Phone Number : </label>
            <input type="text" name="no_hp" ref="no_hp" v-model="no_hp" :disabled="buttonStatus == 'upload'">

            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT" style="margin-top: 5px; min-width: 227px;">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateMember(idEditMember)" style="margin-top: 5px; min-width: 227px;">
                <input type="button" value="CANCEL" @click="clearForm" style="min-width: 227px;">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo_profile" ref="photo_profile">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadPhoto)" style="min-width: 227px;">
                <input type="button" value="CANCEL" @click="clearForm" style="min-width: 227px;">
            </div>
        </form>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/300x400/36374d/fff'" alt="">
                </td>
                <td style="width:300px;">
                    <b>Name : </b> {{ member.name }} <br>
                    <b>Address : </b> {{ member.address }} <br>
                    <b>Phone Number : </b> {{ member.no_hp }}
                </td>
                <td style="width:300px; text-align: center;">
                    <button @click="editMember(member)"> EDIT </button>
                    <button @click="removeMember(member.id)"> DELETE </button>
                    <button @click="uploadPhoto(member)"> UPLOAD PHOTO </button>
                </td>
            </tr>
        </table>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditMember: null,
                idUploadPhoto: null
            },
            methods: {
                validationForm: function(){
                    this.errors = []

                    if(this.name.length < 5){
                        this.errors.push('Masukan nama lengkap anda')
                        this.$refs.name.focus()
                    }

                    if(this.address.length > 45){
                        this.errors.push('Masukan nama jalan dan no rumah saja')
                        this.$refs.address.focus()
                    }

                    if(this.no_hp.length > 12){
                        this.errors.push('Masukan nomor region indonesia dengan format 08XXX')
                        this.$refs.no_hp.focus()
                    }
                },

                clearForm: function(){
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadPhoto = null
                },

                submitForm: function(){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then( (response) => {
                                this.clearForm()
                                this.getMembers()

                                alert(response.data.message)
                            })
                            .catch( (error) => {
                                console.log(error)
                            })

                        alert('Terima kasih telah mengisi data dengan benar')
                    }
                },

                getMembers: function(){
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                    .then( (response) => {
                        this.members = response.data.members
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                },

                editMember: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                }, 

                updateMember: function(id){
                    this.validationForm()

                    if(this.errors.length === 0){
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            params: { _method : "PUT"},
                            data: formData
                        }

                        axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getMembers()

                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                    }
                },

                removeMember: function(id){
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method : "DELETE"}
                    }

                    axios(config)
                    .then( (response) => {
                        this.getMembers()

                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                },

                uploadPhoto: function(member){
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadPhoto = member.id
                },

                submitPhoto: function(id){
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()

                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
                }
            },
            created(){
                this.getMembers()
            }
        })
    </script>
</body>
</html>