<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz - 2 Vue JS Class</title>

    <style>
        li {
            margin-top: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <!-- <template> -->
        <div id="app">
            <form v-on:submit.prevent="addUser">
                <input v-model="newUser">
                <button>add</button>
            </form>
            <li 
                v-for="(user, index) in users"
                v-bind:name="user.name"
                v-on:remove="users.splice(index, 1)">
                    {{ user.name }} 
                    <button name="edit" value="edit">edit</button> ||
                    <button 
                    v-on:click="$emit('remove')">
                    delete</button>
            </li>
        </div>
    <!-- </template> -->
    <!-- <template>
        <div>

        </div>
    </template> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newUser: '',
                users: [
            {
                'name': 'Muhammad Iqbal Mubarok',
            },
            {
                'name': 'Ruby Purwanti',
            },
            {
                'name': 'Faqih Muhammad',
            },
        ],
        },
        methods: {
            addUser: function(){
                this.users.push({
                    name: this.newUser
                })
                this.newUser = ''
            },
            editUser: function(){

            },
            deleteUser: function(){

            }
        }})
    </script>
</body>
</html>