<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Aplikasi pencari katalog buku</h3>
    <div id="app">
        <input v-model="katalog">
        <li v-for="(item, index) in hasil">
        {{ item }}
    </li>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="filter.html"></script> -->
    <script>
        new Vue({
            el: '#app',
            data: {
                katalog: "",
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ],
                isSearching: false,
                hasil: []
            },
            watch: {
                katalog: function() {
                    var vm = this
                    this.isSearching = true;
                    setTimeout(function(){
                        vm.hasil = vm.books.filter(function (item){
                            return item.toLowerCase().indexOf(vm.katalog.toLowerCase()) !== -1
                        })
                    }, 300)
                }
            },
        });
    </script>
</body>
</html>